<div class="centered">
  <h1><%= link_to "John Kearney", "mailto:me@johnmarkkearney.com" %></h1>
  <div id="links">
    <p>
      <%= link_to image_tag("Phone.png", :size => "34x34"), "tel:+14154255587" %>
      <%= link_to image_tag("FaceTime_logo.png", :size => "51x34"), "facetime://+14154255587" %>
      <%= link_to image_tag("http://download.skype.com/share/skypebuttons/buttons/call_green_transparent_70x23.png", :alt => "Skype"), "skype:john.mark.kearney?call" %>
    </p>
    <p>
      <%= link_to image_tag("f_logo.png", :size => "55x55"), "http://www.facebook.com/john.mark.kearney" %>
      <%= link_to image_tag("twitter_newbird_white.png", :size => "55x55"), "http://twitter.com/johnmarkkearney" %>
      <%= link_to image_tag("LinkedIn_IN_Icon_55px.png", :size => "55x55"), "http://www.linkedin.com/pub/john-kearney/10/61a/570" %>
    </p>
  </div>
</div>
